<nav
  class="navbar navbar-expand-lg bg-body-tertiary bg-dark"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">JobCluster Task</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link px-3"
            routerLink="/got-houses"
            routerLinkActive="active-link"
            >Houses</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link px-3"
            routerLink="/got-persons"
            routerLinkActive="active-link"
            >Persons</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link px-3"
            routerLink="/got-quotes"
            routerLinkActive="active-link"
            >Quotes</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
